.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	transform: translateZ(0);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/player.png');
}

@keyframes player-flap {
	from {
		background-image: url('../images/player.png');
	}
	to {
		background-image: url('../images/player_flap.png');
	}
}

.Wall {
	position: absolute;
	top: 0;
	left: 0;
	width: 10em;
	height: 50em;
	transform: translateZ(0);
	background-color: red;
}

.Cloud {
	position: absolute;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    transform: translateZ(0);
	
	top: 3em;
    right: -4em;
    width: 8em;
    height: 8em;
    background-image: url('../images/cloud.png');
    animation: move-cloud 25s infinite linear;
}

@keyframes move-cloud {
  from {
		right: 0em;
  }
  to {
		right: 102.4em;
  }
}

.Ground {
	width: 200em;
	height: 5.0em;
	left: 0;
	bottom: 0;
	position: absolute;
	transform: translateZ(0);
	background-size: contain;
	background-position: center;
	background-repeat: repeat-x;
	background-image: url('../images/ground.jpg');
	animation: ground-move 2s infinite linear reverse;
}

@keyframes ground-move {
	from {
		left: -50em;
	}
	to {
		left: 0em;
	}
}

.Scoreboard {
	z-index: 100;
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 3em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	background-image: url('../images/background.jpg');
}